// Specific CSS for your home-page
body{
  color: $body-color;
}
h1, h2 {
  color: $header-color;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.container{
  padding: 42px 32px;
}
