<div class="container">
  <div class="informations">
    what?
    <h6>Let's connect !</h6>
    <img src="<%= image_url 'photo-de-profile.jpg' %>" alt="photo de Rose front-end developper" class="profile-picture">
    <h1>Hello, I’m Rose !</h1>
    <p class="sub-title">Full stack developper</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took.</p>
  </div>
  <div class="informations">
    <h2>My story</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took.</p>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
    when an unknown printer took.</p>
  </div>
  <div id="technical-skills">
    <h2>Things I know</h2>
    <div id="skills-list">
      <ul class="skill-set">
        <li>Ruby on Rails</li>
        <li>ES6 JavaScript</li>
        <li>HTML</li>
        <li>CSS</li>
      </ul>
      <ul class="skill-set">
        <li>Prototyping & Wireframe</li>
        <li>UI design</li>
        <li>Bootstrap</li>
        <li>Figma</li>
      </ul>
      <ul class="skill-set">
        <li>API, JSON scraping</li>
        <li>Git & Github</li>
        <li>Relational database SQL Postgres</li>
        <li class="learning">Curently learning:  React & Redux</li>
      </ul>
    </div>
  </div>
  <div id="project-section">
    <div id="project-header">
      <h2>Projects</h2>
    </div>
    <div id="project-cards">
      <a href="#">Green Thumb</a>
      <a href="#">Cocktail Advisor</a>
      <a href="#">Stellactica</a>
    </div>
    <div id="contact-info">
      <a href="https://www.linkedin.com/in/rosegrondin/"><img src="<%= image_url'linkedin.svg'%>" alt=""></a>
      <p>(514) 659-1419</p>
      <p>rose.grondin@gmail.com</p>
    </div>
  </div>

</div>
