<h1>Hello !</h1>
<p>You recieved a <strong>new message from</strong> <%= @message.name.capitalize %>:</p>
<p>"<%= @message.content %>"</p>
<p><strong>Contact infos:</strong> <%= @message.email %></p>

