#presentation{
display: flex;
align-items: center;
justify-content: space-between;
width: 85%;
position: relative;
}
.download{
  position: absolute;
  top: 435px;
  right: 350px;
  img{
    width: 200px;
    filter: invert(97%) sepia(10%) saturate(356%) hue-rotate(64deg) brightness(93%) contrast(101%);
  }
}
#presentation-header{
  display: flex;
  a{
    color: $header-color;
    &:hover{
      color: $body-color;
    }
  }
  h6{
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: right;
    margin: 0;
    margin-right: 8px;
    font-size: 20px;
  }
}

#picture{
  background-image: url('photo-de-profile.jpg');
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 500px;
}

.informations{
  width: 60%;
  margin-left: 24px;

  .sub-title{
    font-weight: bolder;
  }
}
.story{
  margin-top: 100px;
}

#project-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-left: 24px;

}

#project-header{
  background: $light-green;
  height: auto;
  padding-top:16px;
  padding-left:24px;
  padding-right: 24px;
  margin-right: 32px;
  text-align: center;
  h2{
    font-size: 4rem;
  }
}
#project-cards{
  display: flex;
  flex-direction: column;
  a{
    font-family: $headers-font;
    &:hover{
      color: white;
    }
  }
}

.project-card{
  margin-bottom: 24px;
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  p{
    font-family: $body-font;
    font-size:18px;
  }
}
.gb{
  background-image:linear-gradient(rgba(42,73,51,0.3), rgba(42,73,51,0.3)),url('Greenthumb project.jpg');
  background-size: cover;
  background-position: center;
}
.ca{
  background-image: linear-gradient(rgba(42,73,51,0.3), rgba(42,73,51,0.3)),url('Cocktail advisor project.jpeg');
  background-size: cover;
  background-position: center;
}
.stell{
  background-image: linear-gradient(rgba(42,73,51,0.3), rgba(42,73,51,0.3)), url('Stellactica-project.jpg');
  background-size: cover;
  background-position: center;
}
