#presentation{
display: flex;
align-items: center;
justify-content: space-between;
width: 85%;
position: relative;
}
.download{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 435px;
  right: 350px;
  img{
    width: 200px;
    filter: invert(97%) sepia(10%) saturate(356%) hue-rotate(64deg) brightness(93%) contrast(101%);
  }
  h3{
    display: none;
    color: $header-color;
  }
}
#presentation-header{
  display: flex;
  a{
    color: $header-color;
    &:hover{
      color: $body-color;
    }
  }
  h6{
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    text-align: right;
    margin: 0;
    margin-right: 8px;
    font-size: 20px;
  }
}

#picture{
  background-image: url('https://res.cloudinary.com/dqld2goyf/image/upload/v1585345394/portfolio/photo_de_profil.jpg');
  background-size: cover;
  background-position: center;
  width: 350px;
  height: 500px;
}

.informations{
  width: 60%;
  margin-left: 24px;

  .sub-title{
    font-weight: bolder;
  }
}
.story{
  margin-top: 100px;
}

#project-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  margin-left: 24px;

}

#project-header{
  background: $light-green;
  height: auto;
  padding-top:16px;
  padding-left:24px;
  padding-right: 24px;
  margin-right: 32px;
  text-align: center;
  h2{
    font-size: 4rem;
  }
}
#project-cards{
  display: flex;
  flex-direction: column;
  a{
    font-family: $headers-font;
    &:hover{
      color: white;
    }
  }
}

.project-card{
  margin-bottom: 24px;
  color: white;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  p{
    font-family: $body-font;
    font-size:18px;
  }
}
.gb{
  background-image:linear-gradient(rgba(42,73,51,0.3), rgba(42,73,51,0.3)),url('https://res.cloudinary.com/dqld2goyf/image/upload/v1585345415/portfolio/Greenthumb_project.jpg');
  background-size: cover;
  background-position: center;
}
.ca{
  background-image: linear-gradient(rgba(42,73,51,0.3), rgba(42,73,51,0.3)),url('https://res.cloudinary.com/dqld2goyf/image/upload/v1585345406/portfolio/Cocktail_advisor_project.jpg');
  background-size: cover;
  background-position: center;
}
.stell{
  background-image: linear-gradient(rgba(42,73,51,0.3), rgba(42,73,51,0.3)), url('https://res.cloudinary.com/dqld2goyf/image/upload/v1585345414/portfolio/Stellactica-project.jpg');
  background-size: cover;
  background-position: center;
}

// Responsive design
// ipad pro
@media (min-width: 1024px) {
  #presentation{
    width:100%;
  }
  .download {
    right: 181px;
  }
}
// ipad
@media (min-width: 768px) and (max-width: 1024px) {
  #picture{
    width: 250px;
    height: 400px;
  }
  #presentation{
    width:100%;
  }
  .download {
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:381px;
    right: 185px;
    img{
      width:130px;
    }
  }
  .informations{
    width:90%;
  }
  #project-section{
    grid-template-columns: 1fr;
    grid-gap: 24px;
    margin-left: 0px;
  }
  #project-header{
    margin-right:0px;
  }
  #project-cards{
    align-items:center;
  }
  .project-card{
    width: 659px;
  }
  #contact-info{
    width: 100%;
  }
}
// responsive
@media (min-width: 526px) and (max-width: 767px) {
  #picture{
    width: 250px;
    height: 400px;
  }
  #presentation{
    width:100%;
    display:grid;
    grid-gap:16px;
  }
  .download {
    display: flex;
    align-items: center;
    justify-content: start;
    width:80%;
    right: 28px;
    top:664px;
    img{
      width:70px;
    }
    h3{
      font-size:1.25rem;
      display:block;
      margin-left:16px;
    }
  }
  .informations{
    width:90%;
    h1{
      font-size: 2rem;
    }
  }
  #project-section{
    grid-template-columns: 1fr;
    grid-gap: 24px;
    margin-left: 0px;
  }
  #project-header{
    margin-right:0px;
    h2{
      font-size: 3rem;
    }
  }
  #project-cards{
    align-items:center;
  }
  .project-card{
    width: 100%;
  }
  #contact-info{
    width: 100%;
    font-size: 14px;
    a{
      img{
        margin-bottom: 7px;
      }
    }
  }

}
// iphone Plus and Google pixel
@media (min-width: 411px) and (max-width: 525px) {
  #picture{
    width: 250px;
    height: 400px;
  }
  #presentation{
    width:100%;
    display:grid;
    grid-gap:16px;
  }
  .download {
    display: flex;
    align-items: center;
    justify-content: start;
    width:80%;
    right: 28px;
    top:664px;
    img{
      width:70px;
    }
    h3{
      font-size:1.25rem;
      display:block;
      margin-left:16px;
    }
  }
  .informations{
    width:90%;
    h1{
      font-size: 2rem;
    }
  }
  #project-section{
    grid-template-columns: 1fr;
    grid-gap: 24px;
    margin-left: 0px;
  }
  #project-header{
    margin-right:0px;
    h2{
      font-size: 3rem;
    }
  }
  #project-cards{
    align-items:center;
  }
  .project-card{
    width: 100%;
  }
  #contact-info{
    width: 100%;
    font-size: 14px;
    a{
      img{
        margin-bottom: 7px;
      }
    }
  }
}
// iphone X, iphone 6/7/8
@media (min-width: 300px) and (max-width: 410px) {
  #picture{
    width: 250px;
    height: 400px;
  }
  #presentation{
    width:100%;
    display:grid;
    grid-gap:16px;
  }
  .download {
    display: flex;
    align-items: center;
    justify-content: start;
    top:733px;
    right: 28px;
    width:80%;
    img{
      width:70px;
    }
    h3{
      font-size:1.25rem;
      display:block;
      margin-left:16px;
    }
  }
  .informations{
    width:90%;
    h1{
      font-size: 2rem;
    }
  }
  #project-section{
    grid-template-columns: 1fr;
    grid-gap: 24px;
    margin-left: 0px;
  }
  #project-header{
    margin-right:0px;
    h2{
      font-size: 3rem;
    }
  }
  #project-cards{
    align-items:center;
  }
  .project-card{
    width: 100%;
  }
  #contact-info{
    width: 100%;
    font-size: 13px;
  }
}

